<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to my new html page</title>
    <style>
    body {display:flex;flex-direction:column;margin:0;}
        header {
        width:100%;
        height:100px;
        background:grey;
        }
        .container {
        width:100%;
        height:600px;
        background:#f2f2f2;
        }
        footer {
        width:100%;
        height:300px;
        background:black;
        }
    </style>
</head>
<body>
<header></header>
<div class="container">

</div>
<footer></footer>
</body>
</html>